.clickable {
    cursor: pointer
}


@media only screen and (min-width: 992px) {
    .scrollable {
        margin-left: auto;
        margin-right: auto;
        overflow-y: auto;
        height: 60vh;
    }
}

.padding-2 {
    background-color: lightblue;
}

.padding-5 {
    padding: 5%
}

.top-buffer { 
    margin-top: 2%; 
}