doctype html
html.no-js(lang='en')
  head
    style
      include ./css/styles.css
  body
      h1 Thank you, #{name}!
      h2 Username: #{username}
      h2 Password: #{password}
      button.btn.btn-default(type='button') Default